<body id="loginBody">

<div id="loginForm">
  <h2>Login</h2>
  

    <div class="row">
      <div class="col">
         <form action="/auth/login" method="POST">
        <input
          type="text"
          class="form-control"
          name="Wizardname"
          placeholder="Your Wizard name"
          aria-label="Wizardname"
          bg-transparent
        />
      </div>
      <div class="col">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Your Password"
          aria-label="password"
        />
      </div>
    
      
    </div>
  
<<<<<<< HEAD
   <div id = "loginBtn"><button type="submit" class="btn btn-light">Log In</button></div>
    
=======
  <div id="loginBtn"><button type="submit" class="btn btn-light">Log In</button></div>
>>>>>>> 4de9f0e4dd36a2229a669d9c04eda3d7d6c7b08c

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</body>