<body id="loginBody">

<div id="loginForm">
  <h2>Login</h2>
  

    <div class="row">
      <div class="col">
         <form action="/auth/login" method="POST">
        <input
          type="text"
          class="form-control"
          name="Wizardname"
          placeholder="Your Wizard name"
          aria-label="Wizardname"
          bg-transparent
        />
      </div>
      <div class="col">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Your Password"
          aria-label="password"
        />
      </div>
    
      
    </div>
  
  <div id="loginBtn"><button type="submit" class="btn btn-light">Log In</button></div>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
<p id="intro">The Hidden Corridor is a famous secret room in Hogwarts, that students have been posting illicit materials for generations.  We cant tell you exactly where it is, but a good place to start would be behind the suit of armour on the 5th floor. </p>
</body>