<body id="signupBody">

<div id="form">
  <h2>Sign Up</h2>
  <form action="/auth/signup" method="POST">

    <div class="row"></div>
      <div class="col signupForm">
        <input
          type="text"
          class="form-control"
          name="Wizardname"
          placeholder="Your Wizard name"
          aria-label="Wizardname"
        />
      </div>
      <div class="col signupForm">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Your Password"
          aria-label="password"
          id="password"
          onkeyup='check();'
        />
      </div>

       <div class="col signupForm">
        <input
          type="password"
          class="form-control"
          name="confirmPassword"
          placeholder="Confirm your Password"
          aria-label="confirmPassword"
          id="confirmPassword"
          
          onkeyup='check();'
        />
        <span id='message'></span>
      </div>
      
        <div class="col signupForm">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Your Name"
            aria-label="name"
          />
        </div>
        <div class="col signupForm">
          <input
            type="number"
            class="form-control"
            name="firstYearOfHogwarts"
            placeholder="Your First Year"
            aria-label="firstYearOfHogwarts"
          />
        </div>
        <div class="col signupForm">
          <select name="house" class="form-select" aria-label="house">
            <option selected>Your House</option>
            <option value="gryffindor">Gryffindor</option>
            <option value="hufflepuff">Hufflepuff</option>
            <option value="ravenclaw">Ravenclaw</option>
            <option value="slytherin">Slytherin</option>
          </select>
        </div>
     
  

  <button type="submit" id="signupBtn" class="btn btn-light">Sign Up</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
</body>