<body id="indexBody">

<div id="indexTitle"><H2>Welcome to Hogwarts</H2></div>

<div id="indexLinks"><a href="/auth/signup">Sign Up</a>
  <a href="/auth/login">Login</a>
  <a href="www.google.com">Im a muggle</a>
</div>
</body>