<body id="indexBody">

  <div id="indexTitle"><p>Welcome to the Hidden Corridor</p></div>

  <div class="container text-center" id="indexLinks">

  {{#if wizardDetails}}
<div class="col">
      <a href="/auth/profile/{{wizardDetails._id}}">Profile</a>
    </div>
    <div class="col">
      <a href="/fifth-floor">5th Floor</a>
    </div>

  {{else}}
    <div class="col"></div>
    <div class="col">
      <a href="/auth/signup">Sign Up</a>
    </div>
    <div class="col">
      <a href="/auth/login">Login</a>
    </div>
    <div class="col">
      <a href="https://www.google.com/">Im a muggle</a>
    </div>
    <div class="col"></div>
    {{/if}}

  </div>

   <img id="hogwartsCrest" src="../../images/Hogwarts/hogwartslogo.png" alt="Hogwarts Crest">

</body>