<body id="indexBody">

  <div id="indexTitle"><p>Welcome to Hogwarts</p></div>

  <div class="container text-center" id="indexLinks">

    <div class="col"></div>
    <div class="col">
      <a href="/auth/signup">Sign Up</a>
    </div>
    <div class="col">
      <a href="/auth/login">Login</a>
    </div>
    <div class="col">
      <a href="www.google.com">Im a muggle</a>
    </div>
    <div class="col"></div>

  </div>

</body>