<body id="hiddenCorridorBody">

  <section class="potion-details">

  <div class="row">
    <div class="col-1"></div>
    <div class="col-5"><h1 class="largeTitleColor">Create Potion</h1></div>
    <div class="col-6 howDidYou smallTitleColor"><h3> - Oh think you can brew?</h3></div>
</div>
  <form id="createPotionForm" action="/create-potion" method="POST">

    <div class="row">
      <div class="col text-center">
        <label class="form-label smallTitleColor">Potion Name
          <input
            type="text"
            class="form-control"
            name="potionName"
            placeholder="Potion Name"
            aria-label="potionName"
          />
        </label>
      </div>

      <div class="col text-center">
          <label class="form-label smallTitleColor">Difficulty
            <select
              name="difficulty"
              class="form-select"
              aria-label="difficulty"
            >
              <option selected>Difficulty</option>
              <option value="squib">Squib</option>
              <option value="firstYear">First Year</option>
              <option value="owlLevel">OWL Level</option>
              <option value="newtLevel">NEWT Level</option>
              <option value="professor">Professor</option>
            </select>
          </label>
        </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <label class="form-label smallTitleColor">Method
          <textarea placeholder="1. Step one, 2. Step two, etc" type="text" class="form-control" name="method" rows="4"></textarea>
        </label>
      </div>
      
      <div id="formulario" class="col text-center">
        <label class="form-label smallTitleColor">Ingredients
          
            <br /><input type="text" name="ingredients" />
          
        </label>
        <input type="button" class="btn btn-light" value="+" onClick="addInput();" />
      </div>
      </div>

      
      <div class="row">
        

        <div class="col text-center">
          <label class="form-label smallTitleColor">Side Effects
            <input
              type="text"
              class="form-control"
              name="sideEffects"
              placeholder="List Side Effects Here"
              aria-label="sideEffects"
            />
          </label>
        </div>
        <div class="col text-center">
        <label class="form-label smallTitleColor">Brewing Time
          <input
            type="number"
            class="form-control"
            name="potionTime"
            value="60"
            aria-label="potionTime"
          />
        </label>
      </div>
      </div>
      <div class="row text-center">
        <div class="col"><button type="submit" class="btn customBtnDesgin">Create</button></div>
      </div>
      
      
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

    
  </form>
</section>
</body>