<h2>ohh think you can brew do you?</h2>
<form action="/create-potion" method="POST">

    <div class="row">
      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Potion Name</label>
        <input
          type="text"
          class="form-control"
          name="potionName"
          placeholder="Polyjuice"
          aria-label="potionName"
        />
      </div>

      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Ingredients</label>
        <textarea
          type="text"
          class="form-control"
          name="ingredients"
          aria-label="ingredients"
          rows="5">
        </textarea>
      </div>

      <div class="col">
        <label for="exampleFormControlInput1" class="form-label">Method</label>
        <textarea
          type="text"
          class="form-control"
          name="method"
          aria-label="method"
          rows="5">
        </textarea>
      </div>

        <div class="col">
          <label class="form-label">Difficulty</label>
             <select name="difficulty" class="form-select" aria-label="difficulty">
            <option selected>Choose difficulty</option>
            <option value="squib">Squib</option>
            <option value="firstYear">First Year</option>
            <option value="owlLevel">OWL Level</option>
            <option value="newtLevel">NEWT Level</option>
            <option value="professor">Professor</option>
          </select>
        </div>
        
        <div class="col">
          <label class="form-label">Side Effects</label>
          <input
            type="text"
            class="form-control"
            name="sideEffects"
            placeholder="what happens after you drink this!?!?!?"
            aria-label="sideEffects"
          />
        </div>
      </div>
    </div>
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}

    <button type="submit" class="btn btn-light">Brewing.. </button>
</form>