
@font-face {
  font-family: Magic School;
  src: url("../fonts/magic-school.one.ttf");
  font-size: 5vh;
}


#mainNav {
  background-color: antiquewhite;
  opacity: 0.6;
}

#indexBody {
  padding: 50px;
  background-image: url("../images/Hogwarts/hogwarts-from-gates.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#indexTitle {
  font-family: "Magic School", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 140px;
  color: white;
  margin-top: 15vh;
  margin-bottom: 15vh;

  }
  

a {
  text-decoration: none;
  color: white;
  font-family: "Magic School", Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 5vh;

}


#signupBody {
  padding: 50px;
  font: 14px "Magic School", Helvetica, Arial, sans-serif;
  background-image: url("../images/Hogwarts/sorting-hat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#loginBody {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Hogwarts/entrance-hall.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}

#entranceBody {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Hogwarts/corridor.jpg");
  background-size: 100vw, 100vh;
  background-repeat: no-repeat;
}

#potionsBody {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url("../images/Hogwarts/wall.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}