@font-face {
  font-family: Magic School;
  src: url("../fonts/magic-school.one.ttf");
}

@font-face {
  font-family: Parseltongue;
  src: url("../fonts/parseltongue.ttf");
}

@font-face {
  font-family: Lumos;
  src: url("../fonts/LUMOS.TTF");
}

@font-face {
  font-family: Wizard;
  src: url("../fonts/WizardWorldSimplified-Kxr7.ttf");
}

@font-face {
  font-family: Tomatoes;
  src: url("../fonts/Tomatoes-O8L8.ttf");
}



#mainNav {
  font-family: "Wizard", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  background-color: antiquewhite;
  opacity: 0.6;
  border-radius: 10px;
  width: 80vw;
  margin:auto
}

#indexBody {
  padding: 50px;
  background-image: url("../images/Hogwarts/hogwarts-from-gates.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#indexTitle {
  font-family: "Magic School", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 140px;
  color: antiquewhite;
  margin-top: 15vh;
  margin-bottom: 15vh;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#indexLinks a {
  text-decoration: none;
  color: antiquewhite;
  font-family: "Magic School", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5vh;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#signupBody {
  padding: 50px;
  background-image: url("../images/Hogwarts/sorting-hat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#signupBody h2{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 13vh;
  color: antiquewhite;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 4vh;
  margin-bottom: 5vh;
  margin-left:14vw;
}

.signupForm {
  width: 30vw;
  margin: 2.5vh 10vw;
}

#signupBtn {
  margin-left:21vw;
  margin-top: 1vh;
}

p.error {
  font-family: 'Wizard', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  font-size: 2vh;
  margin-top:2vh;
  margin-left:10vw;
}

span#message {
  font-family: 'Wizard', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2vh;
  padding-top:2vh;
}

#loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: antiquewhite;
  background-image: url("../images/Hogwarts/entrance-hall.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}
#loginBody h2 {
  display: flex;
  justify-content: center;
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 13vh;
  color: antiquewhite;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 7vh;
  margin-bottom: 5vh;
}

#loginBtn {
  display: flex;
  justify-content: center;
}

#entranceBody {
  height:100vh;
  padding: 50px;
  background-image: url("../images/Hogwarts/corridor.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#entranceBody h3 {
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 10vh;
  color: rgb(250, 235, 215);
  opacity: 0.4;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 5vh;
  margin-bottom: 0;
  margin-left:10vw;
  
}

#entranceBody h6 {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: rgb(250, 235, 215);
  opacity: 0.3;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left:5vw;
  position: fixed;
  bottom: 1vh;
  left:3vw;
  
}

#hiddenLink {
  height:10vh;
  width:5vw;
  position:fixed;
  top:27vh;
  right:12vw;
  
}

#potionsBody {
  padding: 50px;
  background-image: url("../images/Hogwarts/hidden-corridor.jpg");
  background-size:cover;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#potionsBody h1 {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 8vh;
  color: rgb(139, 211, 139);
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin:2.5vh 21.5vw 2vh;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  background-color: rgb(150, 101, 37);
  opacity: 0.8;
  margin: 1 1 1 1;
}

.card-title1 {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 5vh;
  color: black;
}

.card-text1 {
  font-family: "Tomatoes", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: black;
}

.card-subtitle1 {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: black;
}
.list-elements {
  font-family: "Tomatoes", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: black;
}

.potion-details {
  color: antiquewhite
}

#intro {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 4.5vh;
  color: antiquewhite;
  margin-top: 5vh;
  width:68vw;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;

}