@font-face {
  font-family: Magic School;
  src: url("../fonts/magic-school.one.ttf");
}

@font-face {
  font-family: Parseltongue;
  src: url("../fonts/parseltongue.ttf");
}

@font-face {
  font-family: Lumos;
  src: url("../fonts/LUMOS.TTF");
}

@font-face {
  font-family: Wizard;
  src: url("../fonts/WizardWorldSimplified-Kxr7.ttf");
}

@font-face {
  font-family: Tomatoes;
  src: url("../fonts/Tomatoes-O8L8.ttf");
}



#mainNav {
  font-family: "Wizard", Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  background-color: antiquewhite;
  opacity: 0.6;
  border-radius: 10px;
  width: 80vw;
  margin:auto;
}

#indexBody {
  padding: 30px;
  background-image: url("../images/Hogwarts/hogwarts-from-gates.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#indexTitle {
  font-family: "Magic School", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 140px;
  color: antiquewhite;
  margin-top: 0vh;
  margin-bottom: 0vh;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#indexLinks {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

#indexLinks a {
  text-decoration: none;
  color: antiquewhite;
  font-family: "Magic School", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5vh;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#hogwartscrest {
  max-height:45vh;
  max-width: 33vw;
  position: relative;
  margin-top: 1vh;
}

#signupBody {
  padding: 30px;
  background-image: url("../images/Hogwarts/sorting-hat.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} 

#signupBody h2{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 13vh;
  color: antiquewhite;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 4vh;
  margin-bottom: 5vh;
  margin-left:14vw;
}

.signupForm {
  width: 30vw;
  margin: 2.5vh 10vw;
}

#signupBtn {
  margin-left:21vw;
  margin-top: 1vh;
}

p.error {
  font-family: 'Wizard', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: antiquewhite;
  font-size: 2vh;
  margin-top:2vh;
  margin-left:10vw;
}

span#message {
  font-family: 'Wizard', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 2vh;
  padding-top:2vh;
}

#loginBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  color: antiquewhite;
  background-image: url("../images/Hogwarts/entrance-hall.jpg");
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat;
}
#loginBody h2 {
  display: flex;
  justify-content: center;
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 13vh;
  color: antiquewhite;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 7vh;
  margin-bottom: 5vh;
}

#loginBtn {
  display: flex;
  justify-content: center;
}

#fifthFloorBody {
  height:100vh;
  padding: 30px;
  background-image: url("../images/Hogwarts/corridor.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
}

#fifthFloorBody h3 {
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 10vh;
  color: rgb(250, 235, 215);
  opacity: 0.4;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 5vh;
  margin-bottom: 0;
  margin-left:10vw;
  
}

#fifthFloorBody h6 {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: rgb(250, 235, 215);
  opacity: 0.3;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left:5vw;
  position: fixed;
  bottom: 1vh;
  left:3vw;
  
}

#hiddenLink {
  height:10vh;
  width:5vw;
  position:fixed;
  top:27vh;
  right:12vw;
}
 
#hiddenLink:hover + #alohamora{
  display:block;
  height:25vh;
  position:fixed;
  top:40vh;
  right:40vw;
}

#alohamora {
  display: none;
  height:25vh;
  position:fixed;
  top:40vh;
  right:40vw;
}


#hiddenCorridorBody {
  padding: 30px;
  background-image: url("../images/Hogwarts/hidden-corridor.jpg");
  background-size:cover;
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hiddenCorridorBody h1 {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 10vh;
  color: darkgreen;
  text-shadow: -1px 0 greenyellow, 0 1px greenyellow, 1px 0 greenyellow, 0 -1px greenyellow;
  margin-top:2.5vh;
  margin-bottom: 2vh;
}


.card {
  background-color: rgb(150, 101, 37);
  opacity: 0.8;
  margin: 1 1 1 1;
}

.card-title1 {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 5vh;
  color: black;
}

.card-text1 {
  font-family: "Tomatoes", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: black;
}

.card-subtitle1 {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: black;
}
.list-elements {
  font-family: "Tomatoes", Helvetica, Arial, sans-serif;
  font-size: 3vh;
  color: black;
}

.potion-details {
  color: antiquewhite
}

#createPotionForm label{
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 6vh;
color: greenyellow;
text-shadow: -1px 0 darkgreen, 0 1px darkgreen, 1px 0 darkgreen, 0 -1px darkgreen;
}

#createPotionForm input{
  font-family:'Times New Roman', Times, serif;
  font-size:20px;
  color: black;
}

#createPotionForm textarea{
  font-family:'Times New Roman', Times, serif;
  font-size:20px;
  color: black;
}

#createPotionForm select{
  font-family:'Times New Roman', Times, serif;
  font-size:20px;
  color: black;
}

.btn-success {
  position: relative;
  top:10vh;
  left:13vw;
  background-color: yellowgreen;
}

input {
  border-radius: 0.375rem;
}

input.btn.btn-light {
  padding: 1px 6px;
}

#intro {
  font-family: "Parseltongue", Helvetica, Arial, sans-serif;
  font-size: 4.5vh;
  color: antiquewhite;
  margin-top: 5vh;
  width:68vw;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;

}

#gryffindorCommomRoom {
  background-image: url("../images/Hogwarts/gryffindor-common.jpg");
  background-size: cover;
}



#ravenclawCommomRoom {
  padding:30px;
  background-image: url("../images/Hogwarts/ravenclaw-common.jpg");
  background-size: cover;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ravenclawCommomRoom h2 {
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 12vh;
  color: blue;
  text-shadow: -2px 0 silver, 0 2px silver, 2px 0 silver, 0 -2px silver;
  margin-top:5vh;
}

#ravenclawCommomRoom section {
position:fixed;
top:40vh;
left:15vw;
}

#ravenclawCommomRoom section h3{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 9vh;
  color: blue;
  text-shadow: -2px 0 silver, 0 2px silver, 2px 0 silver, 0 -2px silver;
}

#ravenclawCommomRoom section h5{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 7vh;
  color: silver;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

#hufflepuffCommomRoom {
  padding:30px;
  background-image: url("../images/Hogwarts/hufflepuff-common.jpg");
  background-size: cover;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hufflepuffCommomRoom h2 {
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 12vh;
  color: yellow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  margin-top:5vh;
}

#hufflepuffCommomRoom section {
position:fixed;
top:40vh;
left:15vw;
}

#hufflepuffCommomRoom section h3{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 9vh;
  color: yellow;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

#hufflepuffCommomRoom section h5{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 7vh;
  color: black;
  text-shadow: -1px 0 yellow, 0 1px yellow, 1px 0 yellow, 0 -1px yellow;
}

#slytherinCommomRoom {
  padding:50px;
  background-image: url("../images/Hogwarts/slytherin-common.jpg");
  background-size: cover;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#slytherinCommomRoom h2 {
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 12vh;
  color: green;
  text-shadow: -2px 0 silver, 0 2px silver, 2px 0 silver, 0 -2px silver;
  margin-top:5vh;
}

#slytherinCommomRoom section {
position:fixed;
top:40vh;
left:15vw;
}

#slytherinCommomRoom section h3{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 9vh;
  color: green;
  text-shadow: -2px 0 silver, 0 2px silver, 2px 0 silver, 0 -2px silver;
}

#slytherinCommomRoom section h5{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 7vh;
  color: silver;
  text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

#gryffindorCommomRoom {
  padding:50px;
  background-image: url("../images/Hogwarts/gryffindor-common.jpg");
  background-size: cover;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#gryffindorCommomRoom h2 {
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 12vh;
  color: red;
  text-shadow: -2px 0 gold, 0 2px gold, 2px 0 gold, 0 -2px gold;
  margin-top:5vh;
}

#gryffindorCommomRoom section {
position:fixed;
top:40vh;
left:15vw;
}

#gryffindorCommomRoom section h3{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 9vh;
  color: red;
  text-shadow: -2px 0 gold, 0 2px gold, 2px 0 gold, 0 -2px gold;
}

#gryffindorCommomRoom section h5{
  font-family: "Magic School", Helvetica, Arial, sans-serif;
  font-size: 7vh;
  color: gold;
  text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}
.crest {
  height:35vh;
  position:fixed;
  top:42vh;
  right:20vw;
}

.fifthFloorLink {
  font-family: "Wizard", Arial, Helvetica, sans-serif;
  font-size: 6vh;
  color: purple;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-decoration:none;
  position: fixed;
  bottom:1vh;
  left:12vw;
}

#hiddenPotion {
  display: none;
}