<body id="entranceBody">

<h3>Where is that 'Hidden Corridor'?</h3>

<a href="/hidden-corridor" id="hiddenLink"></a>

<img id="alohamora" src="images/Hogwarts/unlock.png" alt="alohamora">

<h6>Maybe its over near the suit of armour...</h>


   



    </body>