<body id="fifthFloorBody">
<section class="sectionBackgroundFifth">


<h3>5th Floor Corridor</h3>

<a href="/hidden-corridor" id="hiddenLink"></a>

<img id="alohamora" src="images/Hogwarts/unlock.png" alt="alohamora">

<article>Find and click the hidden link to open the 'Hidden Corridor'</article>
<h6>Maybe its over near the suit of armour...</h>

</section>

   



    </body>