<body id="hiddenCorridorBody">

<h1>Wow? How did you get in?</h1>

 <div class="row" id="hiddenCorridorRoomsImageLinks">
<div class="col text-center">
<a href="/potions"><img id="hiddenCorridorImg" src="../../images/Hogwarts/potion2.png" alt="Potions Room"></a></div>
<div class="col text-center">
<a href="#"><img id="hiddenCorridorImg" src="../../images/Hogwarts/charmsbook.png" alt="Spell Room"></a></div>



<div class="col text-center">
<a href="#"><img id="hiddenCorridorImg" src="../../images/Hogwarts/market.png" alt="Market Room"></a></div>
<div class="col text-center">
<a href="/trophy-room"><img id="hiddenCorridorImg" src="../../images/Hogwarts/trophy.png" alt="Trophy Room"></a></div>
</div>




   



    </body>



