<body id="hiddenCorridorBody">

<section class="sectionBackground">

<div class="row">
    <div class="col-1"></div>
    <div class="col-5"><h1 class="largeTitleColor">Hidden Corridor</h1></div>
    <div class="col-6 howDidYou"><h3> - Wow! How did you get in?</h3></div>
</div>
<article id="hiddenCorridorIntro" class="smallTitleColor">Welocme to the Hidden Corridor, for generations students have been coming here to post information that maybe they don't want the current professors finding.  The corridor itself blocks all professors and only lets you in with a vaild wizard name.  No one knows who created the corridor...  Perhaps it was a brave Gryffindor, expolring the castle...  Maybe it was a clever Ravenclaw who installed the puzzle and hidden link... Or an ambitious Slytherin wanting to prove themsleves... Perhaps it was a loyal Hufflepuff, keeping their fellow students secrets....  I guess we will never know.</article>
</article>

 <div class="row" id="hiddenCorridorRoomsImageLinks">
 <div class="col-2"></div>
 <div class="col-3"><a href="/potions"><img id="hiddenCorridorImg"src="../../images/Hogwarts/potion2.png" alt="Potions Room"><h5 class="hiddenRoomLinks smallTitleColor">Potion Chamber</h5></a></div>
 <div class="col-2"></div>
 <div class="col 4"><a href="/trophy-room"><img id="hiddenCorridorImg" src="../../images/Hogwarts/trophy.png" alt="Trophy Room"><h5 class="hiddenRoomLinks smallTitleColor">Trophy Cabinet</h5></a></div>
 
 </div>



</section>



   



    </body>



