<body id="hiddenCorridorBody">

<h1>Wow? How did you get in?</h1>

 <div class="row">
    <div class="col text-center">
<a href="/potions"><img id="potionImg" src="../../images/Hogwarts/potion2.png" alt="Potions Room"></a></div>
<div class="col text-center">
<a href="/trophy-room"><img id="trophyImg" src="../../images/Hogwarts/trophy.png" alt="Trophy Room"></a></div>
</div>



   



    </body>



