<h2>ohh think you can brew do you?</h2>

<form action="/create-potion" method="post">
  <label>
    Potion Name:
    <input type="text" name="potionName" />
  </label>

  <label>
    Ingredients:
    <textarea name="ingredients" cols="30" rows="4"> </textarea>
  </label>

  <label>
    Method:
    <textarea  name="method" /> </textarea>
  </label>

  <label>
    Potion Time:
    <input type="number" name="potionTime" />
  </label>

  <label>
    Difficulty:
    <input type="string" name="difficulty" />
  </label>

  <label>
    Side Effects:
    <input type="string" name="sideEffects" />
  </label>

  <button type="submit"> Create </button>
</form>