<body id="hiddenCorridorBody">

<h1>Here are all the points</h1>

<h1>Gryffindor: {{allHousePoints.gryffindorHousePoints}}</h1>
<h1>Ravenclaw: {{allHousePoints.ravenclawHousePoints}}</h1>
<h1>Hufflepuff: {{allHousePoints.hufflepuffHousePoints}}</h1>
<h1>Slytherin: {{allHousePoints.slytherinHousePoints}}</h1>

</body>